<a href="https://colab.research.google.com/github/crisricky7/AnyoneAI/blob/main/0_0_1_THEORY_Python_Assignment_Text_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Download the dataset

In [ ]:
!gdown 1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko

Downloading...
From (original): https://drive.google.com/uc?id=1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko
From (redirected): https://drive.google.com/uc?id=1UOF-7R5MHXTQcCPp7rPMZTFZZSCmKzko&confirm=t&uuid=56383e00-1ba6-495c-a7d6-68f72546bf01
To: /content/registered-names-1922-2015.csv
100% 221M/221M [00:02<00:00, 97.7MB/s]

### Load the dataset

In [ ]:
import csv

In [ ]:
import os
os.getcwd()

'/content'

In [ ]:
# simply open it
with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)

    count = 10
    for idx, row in enumerate(reader):
        print(row)
        if idx == count:
            break

{'name': 'Maria', 'count': '314', 'year': '1922'}
{'name': 'Rosa', 'count': '203', 'year': '1922'}
{'name': 'Jose', 'count': '163', 'year': '1922'}
{'name': 'Maria Luisa', 'count': '127', 'year': '1922'}
{'name': 'Carmen', 'count': '117', 'year': '1922'}
{'name': 'Ana', 'count': '113', 'year': '1922'}
{'name': 'Maria Elena', 'count': '112', 'year': '1922'}
{'name': 'Juana', 'count': '111', 'year': '1922'}
{'name': 'Maria Esther', 'count': '109', 'year': '1922'}
{'name': 'Antonio', 'count': '103', 'year': '1922'}
{'name': 'Elena', 'count': '102', 'year': '1922'}

In [ ]:
# See the number of rows
with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)

    count = 0
    for row in reader:
        count += 1
    print(count)

9761609

How many people were registered each year?

In [ ]:
years = {}

with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)

    count = 100000
    for idx, row in enumerate(reader):
      registration_year = int(row["year"])

      if registration_year in years:
        years[registration_year] += 1

      else:
        years[registration_year] = 1

      if idx == count:
        break

In [ ]:
years

{1922: 10333, 1923: 12777, 1924: 15981, 1925: 18796, 1926: 22172, 1927: 19942}

What is the shortest name?

In [ ]:
shortest_name = None
shortest_len = 1000

with open("/content/registered-names-1922-2015.csv") as csvfile:
    reader = csv.DictReader(csvfile)

    for row in reader:
      name = row["name"]
      if (name != "") and (len(name) < shortest_len):
        shortest_name = name
        print(name)
        shortest_len = len(name)

    print(f"The shortest name is: {shortest_name}")

Maria
Rosa
Ana
FÃ©
E
The shortest name is: E